dev-tools-integration-tests/src/test/resources/test-flows/flows/flow-with-external-cs.json
{
  "flowContents": {
    "identifier": "a1a1a1a1-0000-0000-0000-000000000001",
    "instanceIdentifier": "b2b2b2b2-0000-0000-0000-000000000001",
    "name": "flow-with-external-cs",
    "comments": "",
    "position": {
      "x": 0.0,
      "y": 0.0
    },
    "processGroups": [],
    "remoteProcessGroups": [],
    "processors": [
      {
        "identifier": "44444444-0000-0000-0000-000000000001",
        "instanceIdentifier": "44444444-1111-0000-0000-000000000001",
        "name": "GenerateFlowFile",
        "comments": "",
        "position": {
          "x": 100.0,
          "y": 100.0
        },
        "type": "org.apache.nifi.processors.standard.GenerateFlowFile",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "9.9.9"
        },
        "properties": {
          "character-set": "UTF-8",
          "File Size": "10B",
          "mime-type": null,
          "generate-ff-custom-text": "{\"id\": 1}",
          "Batch Size": "1",
          "Unique FlowFiles": "false",
          "Data Format": "Text"
        },
        "propertyDescriptors": {
          "character-set": {
            "name": "character-set",
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "File Size": {
            "name": "File Size",
            "displayName": "File Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "mime-type": {
            "name": "mime-type",
            "displayName": "Mime Type",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "generate-ff-custom-text": {
            "name": "generate-ff-custom-text",
            "displayName": "Custom Text",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Batch Size": {
            "name": "Batch Size",
            "displayName": "Batch Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Unique FlowFiles": {
            "name": "Unique FlowFiles",
            "displayName": "Unique FlowFiles",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Data Format": {
            "name": "Data Format",
            "displayName": "Data Format",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "style": {},
        "schedulingPeriod": "1 min",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "a1a1a1a1-0000-0000-0000-000000000001"
      },
      {
        "identifier": "33333333-0000-0000-0000-000000000001",
        "instanceIdentifier": "33333333-1111-0000-0000-000000000001",
        "name": "PutRecord",
        "comments": "",
        "position": {
          "x": 100.0,
          "y": 300.0
        },
        "type": "org.apache.nifi.processors.standard.PutRecord",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "9.9.9"
        },
        "properties": {
          "put-record-include-zero-record-results": "false",
          "put-record-reader": "22222222-0000-0000-0000-000000000001",
          "put-record-sink": "18a13b92-2d58-445d-9983-c8745deefcae"
        },
        "propertyDescriptors": {
          "put-record-include-zero-record-results": {
            "name": "put-record-include-zero-record-results",
            "displayName": "Include Zero Record Results",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "put-record-reader": {
            "name": "put-record-reader",
            "displayName": "Record Reader",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "put-record-sink": {
            "name": "put-record-sink",
            "displayName": "Record Destination Service",
            "identifiesControllerService": true,
            "sensitive": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "success",
          "failure",
          "retry"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "a1a1a1a1-0000-0000-0000-000000000001"
      }
    ],
    "inputPorts": [],
    "outputPorts": [],
    "connections": [
      {
        "identifier": "55555555-0000-0000-0000-000000000001",
        "instanceIdentifier": "55555555-1111-0000-0000-000000000001",
        "name": "",
        "source": {
          "id": "44444444-0000-0000-0000-000000000001",
          "type": "PROCESSOR",
          "groupId": "a1a1a1a1-0000-0000-0000-000000000001",
          "name": "GenerateFlowFile",
          "comments": "",
          "instanceIdentifier": "44444444-1111-0000-0000-000000000001"
        },
        "destination": {
          "id": "33333333-0000-0000-0000-000000000001",
          "type": "PROCESSOR",
          "groupId": "a1a1a1a1-0000-0000-0000-000000000001",
          "name": "PutRecord",
          "comments": "",
          "instanceIdentifier": "33333333-1111-0000-0000-000000000001"
        },
        "labelIndex": 0,
        "zIndex": 0,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "a1a1a1a1-0000-0000-0000-000000000001"
      }
    ],
    "labels": [],
    "funnels": [],
    "controllerServices": [
      {
        "identifier": "22222222-0000-0000-0000-000000000001",
        "instanceIdentifier": "22222222-1111-0000-0000-000000000001",
        "name": "InFlowJsonTreeReader",
        "comments": "",
        "type": "org.apache.nifi.json.JsonTreeReader",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-record-serialization-services-nar",
          "version": "9.9.9"
        },
        "properties": {
          "schema-access-strategy": "infer-schema",
          "schema-registry": null,
          "schema-name": "${schema.name}",
          "schema-text": "${avro.schema}",
          "starting-field-strategy": "ROOT_NODE",
          "schema-application-strategy": "SELECTED_PART",
          "Max String Length": "20 MB",
          "Allow Comments": "false"
        },
        "propertyDescriptors": {
          "schema-access-strategy": {
            "name": "schema-access-strategy",
            "displayName": "Schema Access Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-registry": {
            "name": "schema-registry",
            "displayName": "Schema Registry",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "schema-name": {
            "name": "schema-name",
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-text": {
            "name": "schema-text",
            "displayName": "Schema Text",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "starting-field-strategy": {
            "name": "starting-field-strategy",
            "displayName": "Starting Field Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-application-strategy": {
            "name": "schema-application-strategy",
            "displayName": "Schema Application Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Max String Length": {
            "name": "Max String Length",
            "displayName": "Max String Length",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Allow Comments": {
            "name": "Allow Comments",
            "displayName": "Allow Comments",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.serialization.RecordReaderFactory",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "9.9.9"
            }
          }
        ],
        "scheduledState": "ENABLED",
        "bulletinLevel": "WARN",
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "a1a1a1a1-0000-0000-0000-000000000001"
      }
    ],
    "variables": {},
    "defaultFlowFileExpiration": "0 sec",
    "defaultBackPressureObjectThreshold": 10000,
    "defaultBackPressureDataSizeThreshold": "1 GB",
    "flowFileConcurrency": "UNBOUNDED",
    "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
    "componentType": "PROCESS_GROUP"
  },
  "externalControllerServices": {
    "18a13b92-2d58-445d-9983-c8745deefcae": {
      "identifier": "18a13b92-2d58-445d-9983-c8745deefcae",
      "name": "CommonQubershipPrometheusRecordSink123"
    }
  },
  "parameterContexts": {},
  "flowEncodingVersion": "1.0",
  "parameterProviders": {},
  "latest": false
}
